<div class="container" th:fragment="header">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Black Lightning</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" id="home-page" class="nav-link">Главная страница</a></li>
      <li class="nav-item"><a href="/cars" id="news-page" class="nav-link">Новости</a></li>
      <li class="nav-item"><a href="/cars/add" id="admin-page" class="nav-link">Добавить новость</a></li>
      <li class="nav-item"><a href="/clients" id="list-page" class="nav-link">Список текущих заказов</a></li>
      <li class="nav-item"><a href="/clients/new" id="add-page" class="nav-link">Заказать</a></li>
    </ul>
  </header>
</div>